<!DOCTYPE html>

<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="details content">
      <h2><%= blog.title %></h2>
      <div class="content">
        <p><%= blog.body %></p>
      </div>
      <% if(user){%> <%if(blog.createdBy == user._id){%>
      <div class="btn-change">
        <a
          class="edit"
          href="/blogs/edit/<%=blog._id%>"
          data-doc="<%= blog._id %>"
          >Edit</a
        >

        <a class="delete" data-doc="<%= blog._id %>">Delete</a>
      </div>
      <%}%> <% } %>
    </div>

    <%- include('./partials/footer.ejs') %>

    <script>
      const trashCan = document.querySelector(".delete");
      trashCan.addEventListener("click", (e) => {
        const endpoint = `/blogs/${trashCan.dataset.doc}`;

        fetch(endpoint, { method: "DELETE" })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((error) => {
            console.log(error);
          });
      });
    </script>
  </body>
</html>
